{% extends "layout.html" %}

{% block body %}

	<div class="container-fluid h-100">
		<div class="row h-50">
			<div class="col h-100 w-100">
				<img src="https://media.sproutsocial.com/uploads/2017/02/twitter-instream-image.png" class="img-responsiv0e w-100">
			</div>
		</div>
		<br>
		<br>
		<div class="row h-50">
			<div class="col text-center">
				<h1>Sentiment Analysis - Twitter</h1>
				<hr>
				<p>This application takes the most recent tweets by a person and then charts out what percentage of it is positive, negative, or neutral.</p>
			</div>
		</div>
	</div>

{% endblock %}
